.app-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: auto;
}

.app-box-group {
    flex-grow: 1;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    gap: 15px;
    height: 200px;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 4px 30px var(--base-shadow--);
    background: var(--body-l2--);
}

.app-box-group:hover {
    background: var(--body-l3--);
}

.app-box-pic {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: center;
    text-align: center;
    height: 52px;
    width: 52px;
    min-width: 52px;
    border-radius: 120px;
    background: var(--main-l1--);
    font-size: 60px;
}

.app-box-content {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.app-box-title {
    margin: auto;
    font-size: 1rem;
    text-align: center;
}

.app-box-sub-title {
    margin: auto;
    font-size: 0.8rem;
    text-align: center;
}

.app-box-content .icon .material-symbols-outlined {
    color: var(--main-l1--);
}

.app-box-page {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: auto;
    min-width: 100%;
    overflow-y: scroll;
}

.app-box-page:-webkit-scrollbar {
    display: none;
}

.app-box-page {
    -ms-overflow-style: none; /* IE and Edge */
    /*scrollbar-width: none; /* Firefox */
}

.app-box-page-no {
    height: auto;
    width: auto;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 4px 30px var(--base-shadow--);
    cursor: pointer;
}

.app-box-page-no:hover {
    background: var(--body-l3--);
}

.on-off {
    display: flex;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 425px) {
    .app-box {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .app-box-group {
        flex-basis: 100%;
        flex-direction: row;
        min-height: 300px;
        width: 100%;
    }

    .app-box-title {
        text-align: left;
    }

    .app-box-sub-title {
        text-align: left;
    }

    .on-off {
        display: flex;
    }
}

@media only screen and (max-width: 430px) {
}

@media only screen and (max-width: 380px) {
    .app-box-group {
        padding: 10px;
    }
    .app-box-title {
        font-size: 0.8rem;
    }
    .app-box-sub-title {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 320px) {
    .app-box-group {
        padding: 5px;
    }
}

@media only screen and (max-width: 300px) {
}
