aside {
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  width: 0px;
  padding-top: 60px;

  background: var(--body-l2--);
  border: 1px solid var(--border-l1--);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.aside-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.aside-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  height: auto;
  width: 100%;
  padding: 10px;
}

.aside-content a {
  font-size: 1rem;
}

.aside-content:hover {
  background: var(--body-l1--);
}

.aside-content:hover a {
  color: var(--main-l1--);
}

.aside-content:hover .icon {
  color: var(--main-l1--);
}

aside .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}