.btn-pr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 15px;
  border: 0px solid var(--body-l2--);
  border-radius: 15px;
  background: var(--main-l1--);
  cursor: pointer;
  color: var(--base-white--);
  text-align: center;
  font-size: 15px;
}

.btn-pr:hover {
  box-shadow: rgba(0, 81, 161, 0.2) 0px 8px 24px;
  background: var(--main-l2--);
}

.btn-se {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--main-l1--);
  border-radius: 15px;
  background: none;
  cursor: pointer;
  color: var(--main-l1--);
  text-align: center;
  font-size: 15px;
}

.btn-se:hover {
  background: var(--main-l1--);
  color: var(--base-white--);
}

.btn-te {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 15px;
  border: 0px solid var(--main-l1--);
  border-radius: 15px;
  background: var(--body-l1--);
  cursor: pointer;
  color: var(--main-l1--);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.btn-te:hover {
  text-decoration: underline;
}

.btn-normal-pr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: auto;
  width: auto;
  padding: 15px 20px;
  border: 0px solid var(--body-l2--);
  border-radius: 15px;
  background: var(--main-l1--);
  cursor: pointer;
  color: var(--base-white--);
  
  text-align: center;
  font-size: 15px;
}

.btn-normal-pr .material-symbols-outlined {
  color: var(--base-white--);
}

.btn-normal-pr:hover {
  box-shadow: rgba(0, 81, 161, 0.2) 0px 8px 24px;
  background: var(--main-l2--);
}

.btn-normal-se {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: auto;
  width: auto;
  padding: 15px 20px;
  border: 1px solid var(--main-l1--);
  border-radius: 15px;
  background: var(--body-l1--);
  cursor: pointer;
  color: var(--main-l1--);
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.btn-normal-se .material-symbols-outlined {
  color: var(--main-l1--);
}

.btn-normal-se:hover .material-symbols-outlined {
  color: var(--base-white--);
}

.btn-normal-se:hover {
  color: var(--base-white--);
  background: var(--main-l2--);
}

.btn-del {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 15px;
  border: 0px solid var(--body-l2--);
  border-radius: 15px;
  background: var(--red-l1--);
  cursor: pointer;
  color: var(--base-white--);
  text-align: center;
  font-size: 15px;
}

.btn-del:hover {
  background: var(--red-l3--);
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 375px) {
}