.theme-light {
  --body-l1--: #f8fafd;
  --body-l2--: #ffffff;
  --body-l3--: #e9eef6;

  --text-l1--: #101010;
  --text-l2--: #1c1f26;
  --text-l3--: #16181d;

  --main-l1--: #0f6cbd;
  --main-l2--: #115ea3;
  --main-l3--: #0c3b5e;

  --green-l1--: #107c10;
  --green-l2--: #0e700e;
  --green-l3--: #094509;

  --orange-l1--: #fde300;
  --orange-l2--: #feee66;
  --orange-l3--: #fef7b2;

  --red-l1--: #c50f1f;
  --red-l2--: #b10e1c;
  --red-l3--: #6e0811;

  --base-white--: #ffffff;
  --base-black--: #000000;
  --base-shadow--: #0000001a;
  --base-hover--: #c2e7ff;
  --base-border--: #c7c7c7;
}

.theme-dark {
  --body-l1--: #1b1b1b;
  --body-l2--: #131314;
  --body-l3--: #282a2c;

  --text-l1--: #FFFFFF;
  --text-l2--: #e0e4eb;
  --text-l3--: #c2c9d6;

  --main-l1--: #479ef5;
  --main-l2--: #115ea3;
  --main-l3--: #0c3b5e;

  --green-l1--: #107c10;
  --green-l2--: #0e700e;
  --green-l3--: #094509;

  --orange-l1--: #fde300;
  --orange-l2--: #feee66;
  --orange-l3--: #fef7b2;

  --red-l1--: #c50f1f;
  --red-l2--: #b10e1c;
  --red-l3--: #6e0811;

  --base-white--: #ffffff;
  --base-black--: #000000;
  --base-shadow--: #0000001a;
  --base-hover--: #004a77;
  --base-border--: #444746;
}