.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  gap: 20px;
  height: auto;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
}

.form-section {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  gap: 20px;
  max-height: 100%;
  height: auto;
  width: 100%;
}

.form-sub {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  gap: 20px;
  height: 100%;
  width: 50%;
}

.form img {
  width: 100px;
  height: 100px;
}

.form-head {
  width: auto;
  height: auto;
}

.form-head h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--text-l2--);
}

.form-head p {
  font-size: 15px;
  text-align: center;
  color: var(--text-l2--);
}

.form-group {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  gap: 10px;
}

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
  /*text-align: left;*/
  height: auto;
  width: 100%;
  /*background: var(--green-l1--);*/
}

@media only screen and (max-width: 1400px) {
  .form {
    padding: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .form {
    flex-direction: column;
    padding: 10px;
    box-shadow: none;
  }
  .form-section {
    flex-direction: column;
    padding: 10px;
    box-shadow: none;
  }
  .form-sub {
    width: 100%;
  }
  .form-group {
    flex-wrap: wrap;
  }
}