.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  
  height: auto;
  width: 95%;
  
  margin: auto;
  margin-top: 20px;
  
  background: var(--body-l1--);
}

.gallery-group {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 10px;
  height: auto;
  max-width: 200px;
  width: 200px;
  padding: 10px;
  background: var(--body-l1--);
}

.gallery-group:hover {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.gallery-content {
  display: flex;
  flex-direction: column;
}

.gallery-content h4 {
  font-size: 0.8rem;
}

.gallery-content p {
  font-size: 0.8rem;
}

.gallery-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 25px 10px;
  height: auto;
  min-height: 250px;
  max-width: 100%;
  width: 100%;
  min-width: 80%;
  border-radius: 15px;
  background: linear-gradient(
  32deg,
  rgba(0, 71, 102, 1) 0%,
  rgba(0, 107, 153, 1) 50%,
  rgba(0, 118, 168, 1) 100%
  );
}

.gallery-cover-pic {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: auto;
  min-height: 250px;
  max-width: 100%;
  width: 100%;
  min-width: 80%;
  border-radius: 15px;
}

.gallery-cover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.gallery-pic {
  height: 40px;
  width: 40px;
}


.gallery-cover-text {
  color: var(--alway-white--);
  font-size: 0.5rem;
}


@media only screen and (max-width: 1400px) {
  .gallery {
    justify-content: flex-start;
    align-content: flex-start;
  }
  .gallery-group {
    max-width: 200px;
  }
}

@media only screen and (max-width: 425px) {
  .gallery {
    justify-content: flex-start;
    gap: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .gallery-group {
    max-width: 180px;
  }
}

@media only screen and (max-width: 380px) {
  .gallery-group {
    max-width: 160px;
  }
}

@media only screen and (max-width: 320px) {
  .gallery-group {
    max-width: 145px;
  }
  .gallery-cover {
    min-height: 200px;
    max-height: 100px;
  }
}

@media only screen and (max-width: 300px) {
  .gallery-group {
    max-width: 100%;
  }
}