.icon {
  display: flex;
  width: 48px;
  height: 48px;
  margin: auto;
  padding: auto;
  border-radius: 360px;
}

.icon:hover {
  background: var(--body-l2--);
}

.material-symbols-outlined {
  margin: auto;
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 500, "opsz" 100;
}

.icon-main {
  display: flex;
  width: 48px;
  height: 48px;
  margin: auto;
  padding: auto;
  border-radius: 360px;
  background: var(--main-l1--);
}

.icon-main:hover {
  background: var(--main-l2--);
}

.icon-main .material-symbols-outlined {
  color: var(--alway-white--);
}

.icon-green {
  display: flex;
  width: 48px;
  height: 48px;
  margin: auto;
  padding: auto;
  border-radius: 360px;
  background: var(--green-l1--);
}

.icon-green:hover {
  background: var(--green-l2--);
}

.icon-green .material-symbols-outlined {
  color: var(--alway-white--);
}

.icon-orange {
  display: flex;
  width: 48px;
  height: 48px;
  margin: auto;
  padding: auto;
  border-radius: 360px;
  background: var(--orange-l1--);
}

.icon-orange:hover {
  background: var(--orange-l2--);
}

.icon-orange .material-symbols-outlined {
  color: var(--alway-white--);
}

.icon-red {
  display: flex;
  width: 48px;
  height: 48px;
  margin: auto;
  padding: auto;
  border-radius: 360px;
  background: var(--red-l1--);
}

.icon-red:hover {
  background: var(--red-l2--);
}

.icon-red .material-symbols-outlined {
  color: var(--alway-white--);
}

.icon-body {
  display: flex;
  width: 48px;
  height: 48px;
  margin: auto;
  padding: auto;
  border-radius: 360px;
  background: var(--body-l2--);
}

.icon-body:hover {
  background: var(--body-l3--);
}

.icon-body .material-symbols-outlined {
  color: var(--main-l1--);
}