.logo {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  max-height: 40px;
  min-height: 40px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;

  border-radius: 360px;

  color: var(--text-l1--);
  font-size: 25px;
  cursor: pointer;
}

.icon:hover {
  background: var(--body-l1--);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
  color: var(--text-l1--);
  margin: auto;
}
