.menu-page {
  display: flex;
  justify-content: center;
  gap: 10px;
  min-height: 44px;
  width: 100%;
  overflow-y: auto;
}

.menu-page::-webkit-scrollbar {
  display: none;
}

.menu-page-no {
  min-height: 30px;
  height: auto;
  padding: 10px 15px;
  border-radius: 15px;
  /*box-shadow: 0 4px 30px var(--base-shadow--);*/
  cursor: pointer;
}

.menu-page-no:hover {
  background: var(--body-l3--);
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 375px) {
}