.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: auto;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

.menu-group {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  gap: 15px;
  height: auto;
  width: 100%;
  padding: 15px 15px;
  border-radius: 15px;
  cursor: pointer;
  /*box-shadow: 0 4px 30px var(--base-shadow--);*/
  background: var(--body-l2--);
}

.menu-group:hover {
  box-shadow: 0 4px 30px var(--base-shadow--);
}

.menu-pic {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: center;
  text-align: center;
  height: 52px;
  max-width: 52px;
  width: 52px;
  min-width: 52px;
  border-radius: 120px;
  background: var(--main-l1--);
  font-size: 60px;
}

.menu-content {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  gap: 10px;
}

.menu-title {
  margin: auto;
  text-align: left;
  font-size: 1.1rem;
}

.menu-sub-title {
  margin: auto;
  font-size: small;
  text-align: left;
  font-size: 1rem;
}

.menu-content .icon .material-symbols-outlined {
  color: var(--main-l1--);
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 375px) {
}
