.profile {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-top: 60px;
  height: auto;
  width: auto;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  gap: 10px;
  height: auto;
  width: 100%;
  padding: 30px 40px;
  border-radius: 20px;
  background: linear-gradient(
    32deg,
    #0f6cbd,
    #115ea3,
    #0f6cbd
  );
  box-shadow: 0 4px 30px var(--base-shadow--);
}

.card-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  width: auto;
  max-width: 100%;
}

.card-content {
  text-align: center;
  height: auto;
  width: auto;
}

.card-content .material-symbols-outlined {
  font-size: 100px;
  color: var(--base-white--);
}

.card-content p {
  color: var(--base-white--);
}

.card-profile {
  height: 100px;
  width: 100px;
  border-radius: 120px;
}

.card-qrcode {
  padding: 10px;
  border-radius: 10px;
  background: var(--base-white--);
  color: #ffffff;
  max-width: 100%;
}

.card-qrcode img {
  width: 100%;
  height: 100%;
}

.card-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


@media only screen and (max-width: 1400px) {
  .profile {
    flex-direction: row;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    width: 100%;
  }
  .card {
    flex-direction: row;
    height: auto;
    padding: 20px;
  }
  .card-container {
    margin-top: auto;
  }
  .card-group {
    align-items: flex-start;
  }
  .card-content {
    text-align: left;
  }
}

@media only screen and (max-width: 375px) {
  .card {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 40px;
    gap: 20px;
  }
  .card-group {
    width: 100%;
    align-items: center;
  }
  .card-qrcode {
    width: 100%;
    height: auto;
  }
}