.frm-read {
  display: flex;
  flex-direction: row; /*old column*/
  gap: 30px;
  margin: auto;
  padding: 10px; /*old 20px*/
  max-width: 100%;
  width: 100%;
  background: var(--body-l1--);
  /*box-shadow: 0 4px 30px var(--base-shadow--);*/
}

.frm-read-title-top {
  display: flex;
  flex-direction: row; /*old column*/
  gap: 10px; /*old 20px*/
  margin: auto;
  padding: 10px; /*old 20px*/
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  background: var(--body-l1--);
  /*box-shadow: 0 4px 30px var(--base-shadow--);*/
}

.frm-read-group {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  justify-content: stretch;
  gap: 10px;
  max-width: 100%;
  width: 100%;
  background: none;
}

.read-content-pic {
  display: flex;
  justify-content: center;
  padding: 30px;
  background: var(--body-l2--);
}

.read-content-pic .icon:hover {
  background: var(--main-l1--);
}

.read-content-pic .icon:hover .material-symbols-outlined {
  color: var(--base-white--);
}

.read-pic {
  margin: auto;
  max-width: 100%;
  max-height: 300px;
}

.frm-read-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  border-bottom: 1px solid var(--base-border--);
  word-break: break-all;
  cursor: pointer;
}

.frm-read-content h4 {
  color: var(--main-l1--);
}

.row {
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px;
  gap: 10px;
  flex-wrap: wrap;
}

.project-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  padding: 25px 10px;
  max-height: 100%;
  height: auto;
  min-height: 500px;
  max-width: 100%;
  width: 40%;
  min-width: 330px;
  border-radius: 20px;
  background: linear-gradient(32deg, #0f6cbd, #115ea3, #0f6cbd);
  box-shadow: 0 4px 30px var(--base-shadow--);
}

.project-cover-pic {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin: 0 auto;
  max-height: 100%;
  height: auto;
  min-height: 500px;
  max-width: 100%;
  width: 40%;
  min-width: 330px;
  border-radius: 20px;
  box-shadow: 0 4px 30px var(--base-shadow--);
}

.project-cover-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cover-pic {
  height: 60px;
  width: 60px;
}

.cover-text {
  font-size: large;
  color: var(--base-white--);
}

#title-top {
  display: none;
}

.frm-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px; /*old 20px*/
  width: 100%;
  max-width: 100%;
  border-radius: 20px;
  background: var(--body-l1--);
  box-shadow: 0 4px 30px var(--base-shadow--);
}

.frm-control-group {
  display: flex;
  flex-direction: row; /*old column*/
  gap: 10px;
  margin: auto;
  padding: 10px; /*old 20px*/
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .frm-read {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    /*box-shadow: none;*/
  }
  .project-cover {
    width: 40%;
  }
  #title-top {
    display: block;
  }
  #title-detail {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
  .frm-read {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    box-shadow: none;
  }
  #title-top {
    display: block;
  }
  #title-detail {
    display: none;
  }
  .project-cover {
    min-width: 100%;
  }
  .frm-control {
    /*background: none;
    box-shadow: none;
    padding:  0px;*/
  }
  .frm-control-group {
    flex-direction: column;
    padding: 20px;
  }
}

@media only screen and (max-width: 375px) {
}
