.search {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 10px;
  height: auto;
  max-width: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 60px;
  background: var(--body-l2--);
  box-shadow: 0 4px 30px var(--base-shadow--);
}

.search:hover {
  background: var(--body-l3--);
}

.search-filter {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-content: center;
  text-align: center;
  height: auto;
  width: auto;
  border-radius: 60px;
  border: none;
  background: none;
}

.search-filter:hover {
  background: var(--body-l2--);
}

.search-filter .material-symbols-outlined {
  display: flex;
  height: auto;
  width: auto;
  margin: auto;
  cursor: pointer;
  font-size: 20px;
}

.search-select {
  display: none;
  position: absolute;
  top: 30px;
  right: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--body-l3--);
  background: var(--body-l2--);
}

.search-filter:hover .search-select {
  display: block;
}

.search-input {
  flex: 1;
  height: auto;
  width: auto;
  padding: 5px;
  border: none;
  background: none;
}

.search-input::placeholder {
  color: var(--text-l1--);
  opacity: 1;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 480px) {
  .search-input {
    width: 100px;
  }
}

@media only screen and (max-width: 375px) {
}