.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 60px;
    height: 100vh;
    width: 100%;
  }
  
  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 60px;
    height: auto;
    width: 30%;
  }
  
  .home-title {
    font-size: 6em;
    color: var(--main-l1--);
    
    /*height: auto;
    width: 120px;*/
  }
  
  @media only screen and (max-width: 1400px) {
    .home-content {
      width: 60%;
    }
    .home-title {
      font-size: 3em;

      /*height: auto;
      width: 100px;*/
    }
  }
  
  @media only screen and (max-width: 430px) {
    .home {
      justify-content: flex-start;
      padding: 30% 30px 30px 30px;
    }
    .home-content {
      width: 100%;
    }
    .home-title {
      font-size: 2.5em;
      /*height: auto;
      width: 80px;*/
    }
  }

  @media only screen and (max-width: 425px) {
    .home-content {
      width: 100%;
    }
    .home-title {
      font-size: 2em;
    }
  }
  
  @media only screen and (max-width: 380px) {
    .home-content {
      width: 100%;
    }
  }