@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");

* {
    margin: 0px;
    padding: 0px;
    font-family: "Prompt", "Noto Sans Thai", "Major Mono Display", sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    outline: none;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.material-symbols-outlined {
    margin: auto 0px;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: hsl(0, 0%, 100%);
}

.container {
    height: auto;
    width: 60%;
    margin: auto;
}

@media only screen and (max-width: 1040px) {
    .container {
        height: auto;
        width: 100%;
        margin: auto;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        height: auto;
        width: 100%;
        margin: auto;
    }
}

header {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    padding: 20px 0px;
    background: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 60%);
}

.header-logo {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: auto;
    background: hsl(0, 0%, 100%);
    text-align: center;
}

.header-logo img {
    height: 60px;
    width: auto;
    margin: auto;
}

.header-logo h1 {
    margin: auto;
    color: hsl(204, 100%, 40%);
}

section {
    height: auto;
    width: auto;
    padding: 30px 0px;
    background: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 60%);
}

footer {
    height: auto;
    width: auto;
    padding: 20px;
    background: hsl(0, 0%, 100%);
}